/* src/App.css */

/* Estilo general de la página */
.App {
    font-family: Arial, sans-serif;
    color: #333;
    padding: 20px;
  }
  
  /* Título de la página */
  h3 {
    font-size: 2rem;
    color: #333;
    margin-bottom: 1rem;
    text-align: center;
  }
  
  /* Botón de inicio de sesión */
  .login-btn {
    position: absolute;
    top: 20px;
    right: 20px;
    background-color: #00796b;
    color: white;
    padding: 10px 20px;
    font-weight: bold;
    border-radius: 5px;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.2);
    transition: background-color 0.3s ease;
  }
  .login-btn:hover {
    background-color: #004d40;
  }
  
  /* Estilo de la tabla */
  table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;
  }
  th, td {
    padding: 15px;
    text-align: left;
    border-bottom: 1px solid #ddd;
  }
  th {
    background-color: #f8f8f8;
    font-weight: bold;
  }
  tr:hover {
    background-color: #f1f1f1;
  }
  
  /* Botón de "Añadir Producto" */
.btn-add-product {
  background-color: #26a69a; /* Color verde */
  color: white;
  padding: 10px 20px;
  font-size: 16px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  transition: background-color 0.3s ease, box-shadow 0.3s ease;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
}

/* Efecto hover para el botón */
.btn-add-product:hover {
  background-color: #2bbbad; /* Verde más claro al hacer hover */
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
}

/* Estado activo para evitar deshabilitación */
.btn-add-product:disabled {
  opacity: 1; /* Asegura que no se vea deshabilitado */
  background-color: #26a69a; /* Color verde */
  cursor: pointer;
}


 /* Estilos para los botones en la tabla */
.table-buttons {
  display: flex;
  gap: 10px; /* Espacio entre los botones */
}

.table-button {
  padding: 6px 12px;
  font-size: 14px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  transition: background-color 0.3s ease, color 0.3s ease;
}

/* Botón de Editar */
.table-button.edit {
  background-color: #26a69a; /* Color teal */
  color: white;
}

.table-button.edit:hover {
  background-color: #2bbbad; /* Color teal más claro al hacer hover */
}

/* Botón de Eliminar */
.table-button.delete {
  background-color: #ff5252; /* Color rojo */
  color: white;
}

.table-button.delete:hover {
  background-color: #ff1744; /* Color rojo más intenso al hacer hover */
}
